main {
  position: relative;
  width: 80%;
  height: auto;
  margin: 0 auto;
  background: $wihte1;
  padding: 60px;
  @media screen and (max-width: 400px) {
    padding: 0;
    height: 2500px;
  }
  section:first-child {
    position: relative;
    height: 800px;
    // @media screen and (max-width:400px) {
    //   &::after{
    //    content: "";
    //    position: absolute;
    //    width: 100%;
    //    height: 1px;
    //    background: black;
    //    bottom: 0;
    //   }

    width: 100%;
    @include fFDcALcJCsb;
    ul {
      margin-top: 50px;
      width: 100%;
      @include DfAcJCc;
      li {
        font-size: 20px;
        font-family: $font2;
        color: $lightGray;
        width: 100%;
        @include DfAcJCc;
        @media screen and (max-width: 400px) {
          font-size: 12px;
          text-align: center;
          width: 100%;
        }
      }
      li:first-child,
      li:last-child {
        height: 1px;
        width: 100%;
        background: rgba(0, 0, 0, 0.222);
      }
    }
    h2 {
      font-size: 4rem;
      text-transform: uppercase;
      text-align: center;
      font-family: $font1;
      letter-spacing: 3px;
      @media screen and (max-width: 400px) {
        font-size: 1.7rem;
        width: 100%;
      }
    }
    p {
      text-align: center;
      width: 100%;
      font-size: 1.1rem;
      font-family: $font2;
      line-height: 40px;
      font-style: italic;
      @media screen and (max-width: 400px) {
        font-size: 1rem;
      }
    }
    img {
      width: 100%;
      @media screen and (max-width: 400px) {
        width: 90%;
      }
    }
  }

  section:last-child {
   
    border-top: 1px solid black;
    margin-top: 120px;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #cote-gauche {
      @include ph2imgsection2;
      @media screen and (max-width: 400px) {
        width: 100%;
        margin-top: 70px;
      }
      h2{
        @media screen and (max-width: 400px) {
        font-size: 1.7rem;
        }
      }
    }
    #cote-drois {
      @include ph2imgsection2;
      @media screen and (max-width: 400px) {
        margin-top: 30px;
      }
    }
    @media screen and (max-width: 400px) {
      flex-direction: column;
      height: 1500px;
      margin-top: 160px;
    }
  }
}
