main {
  width: 80%;
  height: auto;
  margin: 0 auto;
  background: $wihte1;
  padding: 60px;
  section:first-child {
    height:1500px;
    @include fFDcALcJCsb;
    ul {
      width: 100%;
      @include DfAcJCc;
      li {
        font-size: 20px;
        font-family: $font2;
        color: $lightGray;
        width: 80%;
        @include DfAcJCc;
      }
      li:first-child,
      li:last-child {
        font-size: 30px;
        height: 1px;
        background: black;
        width: 100%;
      }
    }
    h2 {
      font-size: 4rem;
      text-transform: uppercase;
      text-align: center;
      font-family: $font1;
      letter-spacing: 3px;
    }
    p {
      text-align: center;
      width: 50%;
      font-size: 1.1rem;
      font-family: $font2;
      line-height: 40px;
      font-style: italic;
    }
    img {
      width: 100%;
    }
  }
  section:last-child {
   margin-top: 120px;
   height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #cote-gauche {
      @include ph2imgsection2;
    }
    #cote-drois{
      @include ph2imgsection2;
    }
  }
}
  
  