html {
  scroll-behavior: smooth;
}

body {
  background: url(/assets/img/bg.jpg) no-repeat center/cover fixed;
  height: 5250px;
  margin: 0 auto;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  -webkit-animation: ouvertureSurLeSite 1s ease forwards;
          animation: ouvertureSurLeSite 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes ouvertureSurLeSite {
  to {
    background: none;
  }
}
@keyframes ouvertureSurLeSite {
  to {
    background: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: inter;
  src: url("/assets/fonts/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: merri;
  src: url("/assets/fonts/Merriweather-Light.ttf");
}
button {
  padding: 10px;
  width: 200px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.421);
  font-family: inter, sans-serif;
}
button:hover {
  background: black;
  color: white;
  border: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #f3f3f3;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: apparitionDuHeader 1s ease forwards;
          animation: apparitionDuHeader 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
header .contenaire-header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 500px;
}
header .contenaire-header1 h1 {
  font-size: 4.5rem;
  font-family: inter, sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 400px) {
  header .contenaire-header1 h1 {
    font-size: 2rem;
  }
}
header .contenaire-header1 p {
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  font-family: merri, serif;
}
@media screen and (max-width: 1181px) {
  header .contenaire-header1 p {
    font-size: 0.8rem;
  }
}
header .contenaire-header1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f3f3f3;
  padding: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.215);
  cursor: pointer;
}
header .contenaire-header1 a i {
  font-size: 3rem;
}
header .contenaire-header1 a:hover {
  background: #f3f3f3;
  color: black;
  scale: 1.2;
}
header .contenaire-header2 {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  width: 80%;
  background: rgba(255, 255, 255, 0.413);
}
header .contenaire-header2 #liste-left {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 400px) {
  header .contenaire-header2 #liste-left {
    width: 100%;
  }
}
header .contenaire-header2 #liste-left:hover li:not(:hover) {
  background: none;
  color: white;
}
header .contenaire-header2 #liste-left li {
  text-transform: uppercase;
  font-family: inter, sans-serif;
  font-size: 0.7rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 2px;
}
header .contenaire-header2 #liste-left li:hover {
  background: white;
  color: black;
  letter-spacing: 5px;
}
@media screen and (max-width: 400px) {
  header .contenaire-header2 #liste-left li {
    text-align: center;
  }
}
header .contenaire-header2 #liste-left li li:first-child {
  background: white;
  color: black;
}
header .contenaire-header2 #liste-right {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .contenaire-header2 #liste-right li {
  font-size: 1rem;
  font-family: inter, sans-serif;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .contenaire-header2 #liste-right li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
@media screen and (max-width: 400px) {
  header .contenaire-header2 #liste-right {
    display: none;
  }
}
@-webkit-keyframes apparitionDuHeader {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes apparitionDuHeader {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

main {
  position: relative;
  width: 80%;
  height: 3200px;
  margin: 0 auto;
  background: #f3f3f3;
  padding: 60px;
}
@media screen and (max-width: 400px) {
  main {
    padding: 0;
    height: 2700px;
  }
}
main section:first-child {
  position: relative;
  height: 1900px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}
@media screen and (max-width: 400px) {
  main section:first-child {
    height: 800px;
  }
  main section:first-child::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: black;
    bottom: 0;
  }
}
main section:first-child ul {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main section:first-child ul li {
  font-size: 20px;
  font-family: merri, serif;
  color: rgb(184, 181, 181);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 400px) {
  main section:first-child ul li {
    font-size: 12px;
    text-align: center;
    width: 100%;
  }
}
main section:first-child ul li:first-child,
main section:first-child ul li:last-child {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.222);
}
main section:first-child h2 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-family: inter, sans-serif;
  letter-spacing: 3px;
}
@media screen and (max-width: 400px) {
  main section:first-child h2 {
    font-size: 1.7rem;
    width: 100%;
  }
}
main section:first-child p {
  text-align: center;
  width: 100%;
  font-size: 1.1rem;
  font-family: merri, serif;
  line-height: 40px;
  font-style: italic;
}
@media screen and (max-width: 400px) {
  main section:first-child p {
    font-size: 1rem;
  }
}
main section:first-child img {
  width: 100%;
}
@media screen and (max-width: 400px) {
  main section:first-child img {
    width: 90%;
  }
}
main section:last-child {
  margin-top: 120px;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 400px) {
  main section:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1700px;
    margin-top: 160px;
  }
}
main section:last-child #cote-gauche {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main section:last-child #cote-gauche h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: inter, sans-serif;
  letter-spacing: 3px;
}
main section:last-child #cote-gauche p {
  text-align: left;
  width: 80%;
  font-size: 0.9rem;
  font-family: merri, serif;
  line-height: 40px;
  font-style: italic;
}
main section:last-child #cote-gauche img {
  width: 80%;
}
@media screen and (max-width: 400px) {
  main section:last-child #cote-gauche {
    width: 100%;
    margin-top: 70px;
  }
}
@media screen and (max-width: 400px) {
  main section:last-child #cote-gauche h2 {
    font-size: 1.7rem;
  }
}
main section:last-child #cote-drois {
  border-left: 1px solid black;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main section:last-child #cote-drois h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: inter, sans-serif;
  letter-spacing: 3px;
}
main section:last-child #cote-drois p {
  text-align: left;
  width: 80%;
  font-size: 0.9rem;
  font-family: merri, serif;
  line-height: 40px;
  font-style: italic;
}
main section:last-child #cote-drois img {
  width: 80%;
}
@media screen and (max-width: 400px) {
  main section:last-child #cote-drois {
    margin-top: 30px;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 400px;
  margin: 90px auto;
  background: #fbfbfb;
}
@media screen and (max-width: 400px) {
  footer {
    grid-template-columns: 1fr;
    height: 900px;
    padding: 0px;
  }
}
footer form {
  padding: 30px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer form label {
  text-transform: uppercase;
  font-family: inter, sans-serif;
  font-size: 0.8rem;
  color: rgb(134, 133, 133);
}
footer form input {
  height: 40px;
  width: 100%;
  border: 1px solid rgb(184, 181, 181);
}
@media screen and (max-width: 400px) {
  footer form input {
    width: 100%;
  }
}
footer form textarea {
  height: 100px;
  width: 100%;
  border: 1px solid rgb(184, 181, 181);
  resize: none;
}
@media screen and (max-width: 400px) {
  footer form textarea {
    width: 100%;
  }
}
footer form button {
  margin-top: 20px;
}
footer section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px solid rgb(184, 181, 181);
}
footer section div {
  height: 25%;
  border-bottom: 1px solid rgb(184, 181, 181);
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer section div h3 {
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  font-family: inter, sans-serif;
}
footer section div p {
  font-size: merri, serif;
}
@media screen and (max-width: 400px) {
  footer section div p {
    font-size: 0.7rem;
  }
}
footer section div article {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer section div article a {
  margin-right: 40px;
}
@media screen and (max-width: 400px) {
  footer section div article a {
    margin-right: 20px;
  }
}
footer section div article a i {
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.4rem;
  color: black;
  -webkit-transition: 3s;
  transition: 3s;
}
footer section div article a i:hover {
  background: black;
  color: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
@media screen and (max-width: 400px) {
  footer section div article a i {
    font-size: 0.8rem;
    padding: 5px;
  }
}/*# sourceMappingURL=index.css.map */