html {
  scroll-behavior: smooth;
}

body {
  background: url(/assets/img/bg.jpg) no-repeat center/cover fixed;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: inter;
  src: url("/assets/fonts/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: merri;
  src: url("/assets/fonts/Merriweather-Light.ttf");
}
header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #f3f3f3;
}
header .contenaire-header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 450px;
}
header .contenaire-header1 h1 {
  font-size: 4.5rem;
  font-family: inter, sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 700px;
  text-align: center;
}
header .contenaire-header1 p {
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
}
header .contenaire-header1 a {
  border: 1px solid #f3f3f3;
  padding: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .contenaire-header1 a i {
  font-size: 2rem;
}
header .contenaire-header2 {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  min-width: 80%;
  background: rgba(255, 255, 255, 0.413);
}
header .contenaire-header2 #liste-left {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .contenaire-header2 #liste-left li {
  text-transform: uppercase;
  font-family: inter, sans-serif;
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 2px;
}
header .contenaire-header2 #liste-left li:hover {
  background: white;
  color: black;
  letter-spacing: 5px;
}
header .contenaire-header2 #liste-left li:first-child {
  background: white;
  color: black;
}
header .contenaire-header2 #liste-right {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .contenaire-header2 #liste-right li {
  font-size: 1.5rem;
  font-family: inter, sans-serif;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .contenaire-header2 #liste-right li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}/*# sourceMappingURL=index.css.map */